img{
    width: 85%;
    border-radius: 80%;
    border: 3px solid rgb(54, 54, 54);
}
h2 {
    font-family: 'Courgette', cursive;
    font-size: 250%;
}
p {
    font-family: 'Courgette', cursive;
    font-size: 110%;
}
body{
    background-image: url(media/laterales.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto, cover;
    background-position:bottom; 
    padding-top: 4%; 
}

.bg-alumnos{
    border-left: solid 5px black;
}
#alumnos{
    padding-bottom: 4%;
}
#binario p{
    font-size: 110%;
}